@page "/example2/{CurrentPage:int}"
@using BlazorExample.Common

@inject IUserService service
@inject IJSRuntime jsRuntime
@inject NavigationManager navi

<PageTitle>Example2</PageTitle>

<h3>Example2</h3>

<MyTable DataSource="GetDataSource()"
		OnClickPrev="ShowPage"
		OnClickPage="ShowPage" 
		OnClickNext="ShowPage"/>


@code {
	[Parameter]
	public int CurrentPage { get; set; } = 1;

	Pager<User>? pager;

	protected override void OnInitialized()
	{
		CurrentPage = CurrentPage == 0 ? 1 : CurrentPage;
	}

	private Task<Pager<User>> GetDataSource()
	{
		return service.GetAllUsers(CurrentPage);
	}

	private void ShowPage(int currentPage)
	{
		navi.NavigateTo($"/example2/{currentPage}", forceLoad: true);
	}

	private string GetActiveClass(int page)
	{
		return page == CurrentPage ? "page-item active" : "page-item";
	}

	private string GetPrevNextClass(bool prevNext)
	{
		return prevNext ? "page-item" : "page-item disabled";
	}

	private async Task DeleteUser(long id)
	{
		await service.DeleteUser(id);
		int afterPage = pager.Values.Count == 1 ? CurrentPage - 1 : CurrentPage;
		navi.NavigateTo($"/example2/{afterPage}", forceLoad: true);
		
	}
}
